
    <section class="title" id="title">
        <header>
            <div class="main-container header-container">
                <div class="burger">
                    <svg viewBox="0 0 100 80" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="15" fill="#fbf5b6" rx="3"></rect>
                        <rect y="30" width="100" height="15" fill="#fbf5b6" rx="3"></rect>
                        <rect y="60" width="100" height="15" fill="#fbf5b6" rx="3"></rect>
                      </svg>
                </div>
                <a href="#title" class="logo wow animate__rollIn">
                    <img src="images/logoa.png" alt="logo">
                </a>
                <nav class="menu">
                    <ul>
                        <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                            <a href="#title" class="menu-item-link">Главная</a>
                        </li>
                        <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                            <a href="#advantages" class="menu-item-link">Почему</a>
                        </li>
                        <li class="menu-item wow animate__zoomIn">
                            <a href="#portfolio" class="menu-item-link hvr-float-shadow">Портфолио</a>
                        </li>
                        <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                            <a href="#order" class="menu-item-link ">Цены</a>
                        </li>
                        <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                            <a href="#about" class="menu-item-link">Визитка</a>
                        </li>
                    </ul>
                </nav>
                <div class="menu-hide">
                   
                    <div class="menu-burger">
                        <div class="close-menu">
                            <svg width="25" height="25" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <line x1="8" y1="8" x2="24" y2="24" stroke="#fbf5b6" stroke-width="2" stroke-linecap="round"/>
                                <line x1="24" y1="8" x2="8" y2="24" stroke="#fbf5b6" stroke-width="2" stroke-linecap="round"/>
                              </svg>
                        </div>
                        <div class="menu-title">Меню</div>
                        <nav class="menu">
                            <ul>
                                <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                                    <a href="#title" class="menu-item-link">Главная</a>
                                </li>
                                <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                                    <a href="#advantages" class="menu-item-link">Почему</a>
                                </li>
                                <li class="menu-item wow animate__zoomIn">
                                    <a href="#portfolio" class="menu-item-link hvr-float-shadow">Портфолио</a>
                                </li>
                                <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                                    <a href="#order" class="menu-item-link ">Цены</a>
                                </li>
                                <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                                    <a href="#about" class="menu-item-link">Визитка</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="contacts wow animate__zoomIn">
                    <a href="tel:+74993431334" class="phone">8 983 139-06-03</a>
                    <a class="email" href="mailto:katod1978&#64;yandex.ru">katod1978&#64;yandex.ru</a>
                </div>
            </div>
        </header>
        <div class="main-container title-container">
            <div class="title-info wow animate__zoomIn">
                <div class="slogan">Внимание к деталям. Ответственность за результат</div>
                <h1 class="title-title">Разработка сайтов</h1>
                <a href="#" class="button button-title hvr-float-shadow">Заказать</a>
            </div>
        </div>
    </section>
    <div class="bg-fixed" style=" background-image: url('images/bg1.png')">
        <div class="ball-section">
            <div class="pos-x">
                <div class="pos-y">
                    <div class="ball">
                        <div class="light"></div>
                        <div class="ball-shape"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="advantages" id="advantages">
        <div class="main-container advantages-container">
            <h2 class="advantages-title wow animate__zoomIn">Почему c Вами</h2>
            <div class="advantage-block">
                <div class="advantage hvr-float-shadow wow animate__rollIn">
                    <img src="images/advantage-background.png" alt="advantage" class="advantage-img">
                    <h3 class="advantage-title">Помогаем Вам</h3>
                    <div class="advantage-text">Работаем чтобы Вы достигли цели</div>
                </div>
                <div class="advantage hvr-float-shadow wow animate__rollIn">
                    <img src="images/advantage-background.png" alt="advantage" class="advantage-img">
                    <h3 class="advantage-title">Рациональный подход</h3>
                    <div class="advantage-text">Максимум результата минимальными средствами</div>
                </div>
                <div class="advantage hvr-float-shadow wow animate__rollIn">
                    <img src="images/advantage-background.png" alt="advantage" class="advantage-img ">
                    <h3 class="advantage-title">Внимание к деталям</h3>
                    <div class="advantage-text">Важна каждая мелочь</div>
                </div>
            </div>
        </div>
    </section>
    <div class="bg-fixed down" style=" background-image: url('images/bg2.png')"><div class="fog"><div></div></div></div>
    <section class="portfolio" id="portfolio">
        <div class="main-container portfolio-container">
            <h2 class="portfolio-title wow animate__zoomIn">Мои работы</h2>
            <div class="portfolio-info">Двойной клик чтобы посмотреть ближе</div>
    
            <div class="portfolio-carousel wow animate__fadeInDown">
                <div class="carousel">
                    <div class="carousel-item">
                        <div class="carousel-box">
                            <div class="carousel-title">Строительство</div>
                            <img src="images/buildHome.png"/>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-box">
                            <div class="carousel-title">Ресторан</div>
                            <img src="images/image5.png"/>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-box">
                            <div class="carousel-title">Пицца</div>
                            <img src="images/pizza.png"/>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-box">
                            <div class="carousel-title">Бургер</div>
                            <img src="images/burger.png"/>
                        </div>
                    </div>
    
                    <!-- Еще фото -->
    
                    <div class="carousel-item">
                        <div class="carousel-box">
                            <div class="carousel-title">Суши</div>
                            <img src="images/sushi.png" alt="sushi"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="bg-fixed slider" id="neuro" style=" background-image: url('images/bg3-6.png')">
      
    </div>
    <section class="order" id="order">
        <div class="main-container order-container">
            <div class="price-block wow animate__fadeInLeftBig">
                <h2 class="price-title">Цены</h2>
                <ul class="price-list">
                    <li><h3>Верстка сайтов</h3></li>
                    <li>1 блок - 2000 рублей</li>
                    <li><h3>Эффекты</h3></li>
                    <li>Простые эффекты от 50 рублей</li>
                    <li>Средней сложности от 500 рублей</li>
                    <li>Сложные эффекты от 750 рублей</li>
                    <li>Карусели, слайдеры, не типовая анимация от 1 000 рублей</li>
                    <li><h3>Дизайн</h3></li>
                    <li>Разработка дизайна от 10 000 рублей</li>
                    <li><h3>Разработка сайта</h3></li>
                    <li>Цена договорная</li>
                </ul>
            </div>
    
            <div class="order-block wow animate__fadeInRightBig">
                <h2 class="order-title">Заказать консультацию</h2>
                <form action="#" class="order-form  needs-validation" novalidate id="consultation-form">
                    <div class="order-input">
                        <input type="text" class="form-control name" id="name" name="name" placeholder="Имя" required>
                        <div class="invalid-feedback">Введите ваше имя.</div>
                    </div>
                    <div class="order-input">
                        <input type="text" class="form-control phone" id="phone" name="phone" placeholder="Телефон"
                               required>
                        <div class="invalid-feedback">Введите ваш телефон</div>
                    </div>
                    <div class="order-input">
                        <input type="email" class="form-control phone" id="email" name="email" placeholder="e-mail"
                               required>
                    </div>
                    <button type="submit" class="button order-button  hvr-float-shadow">Консультироваться
                    </button>
                </form>
    
            </div>
        </div>
    </section>
    <div class="bg-fixed water" id="water"  style="background-image: url('images/bg4.png')"></div>
    <section class="about" id="about">
        <div class="main-container about-container">
            <button  class="button button-activate" id="water-button">Активировать эффект</button>
            <div class="about-info wow animate__zoomIn">
                <h2 class="about-title">Коротко о себе</h2>
                <h3 class="about-text-title">Артем Анатольевич, 46 лет</h3>
                <div class="about-text">
                    <p>В IT 3 года. Владею двумя языками программирования: Java и JavaScript, благодаря чему то, что я
                        делаю, отличается структурированностью того, что скрыто, и удобством того, что видно. </p>
                    <p>Предыдущий огромный опыт в сфере выстраивания логистики и обеспечения функционирования
                        высокотехнологичного производства позволяет мне подходить к Вашим задачам эффективно и решать их
                        наиболее рациональным способом, затрачивая минимум средств. </p>
                    </p>
                </div>
            </div>
    
        </div>
        <footer class="footer">
            <div class="main-container footer-container">
                <div class="contacts wow animate__zoomIn">
                    <a href="tel:+74993431334" class="phone">8 983 139-06-03</a>
                    <a class="email" href="mailto:katod1978&#64;yandex.ru">katod1978&#64;yandex.ru</a>
                </div>
                <a href="#title" class="logo wow animate__rollIn">
                    <img src="images/logoa.png" alt="logo">
                </a>
                <div class="rights wow animate__zoomIn">Все права зашишены</div>
            </div>
        </footer>
    </section>
    <div class="portfolio-pop-up" id="portfolio-pop-up"></div>
    
    
<!--    <script src="node_modules/jquery/dist/jquery.min.js"></script>-->
<!--    <script src="node_modules/wow.js/dist/wow.js"></script>-->
<!--    <script src="scripts/jquery.ripples.js"></script>-->
<!--    <script src="scripts/star-ball.js"></script>-->
<!--    <script src="scripts/line.js"></script>-->
<!--    <script src="scripts/script.js"></script>-->
<!-- -->