<section class="order-main">
  <header>
    <div class="main-container header-container">
      <div class="burger">
        <svg
          viewBox="0 0 100 80"
          width="40"
          height="40"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="100" height="15" fill="#fbf5b6" rx="3"></rect>
          <rect y="30" width="100" height="15" fill="#fbf5b6" rx="3"></rect>
          <rect y="60" width="100" height="15" fill="#fbf5b6" rx="3"></rect>
        </svg>
      </div>
      <a href="#title" class="logo wow animate__rollIn">
        <img src="images/logoa.png" alt="logo" />
      </a>
      <nav class="menu">
        <ul>
          <li class="menu-item hvr-float-shadow wow animate__zoomIn">
            <a href="#title" class="menu-item-link">Главная</a>
          </li>
          <li class="menu-item hvr-float-shadow wow animate__zoomIn">
            <a href="#advantages" class="menu-item-link">Почему</a>
          </li>
          <li class="menu-item wow animate__zoomIn">
            <a href="#portfolio" class="menu-item-link hvr-float-shadow"
              >Портфолио</a
            >
          </li>
          <li class="menu-item hvr-float-shadow wow animate__zoomIn">
            <a href="#order" class="menu-item-link">Цены</a>
          </li>
          <li class="menu-item hvr-float-shadow wow animate__zoomIn">
            <a href="#about" class="menu-item-link">Визитка</a>
          </li>
        </ul>
      </nav>
      <div class="menu-hide">
        <div class="menu-burger">
          <div class="close-menu">
            <svg
              width="25"
              height="25"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <line
                x1="8"
                y1="8"
                x2="24"
                y2="24"
                stroke="#fbf5b6"
                stroke-width="2"
                stroke-linecap="round"
              />
              <line
                x1="24"
                y1="8"
                x2="8"
                y2="24"
                stroke="#fbf5b6"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </div>
          <div class="menu-title">Меню</div>
          <nav class="menu">
            <ul>
              <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                <a href="#title" class="menu-item-link">Главная</a>
              </li>
              <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                <a href="#advantages" class="menu-item-link">Почему</a>
              </li>
              <li class="menu-item wow animate__zoomIn">
                <a href="#portfolio" class="menu-item-link hvr-float-shadow"
                  >Портфолио</a
                >
              </li>
              <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                <a href="#order" class="menu-item-link">Цены</a>
              </li>
              <li class="menu-item hvr-float-shadow wow animate__zoomIn">
                <a href="#about" class="menu-item-link">Визитка</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="contacts wow animate__zoomIn">
        <a href="tel:+74993431334" class="phone">8 983 139-06-03</a>
        <a class="email" href="mailto:katod1978&#64;yandex.ru"
          >katod1978&#64;yandex.ru</a
        >
      </div>
    </div>
  </header>

  <div class="order">
    <div class="main-container order-container">
      <div class="order-content">
        <form class="order-form">
          <div class="order-input">
            <input
              type="text"
              class="form-control name"
              id="name"
              name="name"
              placeholder="Имя"
              required
            />
            <div class="invalid-feedback">Введите ваше имя.</div>
          </div>
          <div class="order-input">
            <input
              type="text"
              class="form-control phone"
              id="phone"
              name="phone"
              placeholder="Телефон"
              required
            />
            <div class="invalid-feedback">Введите ваш телефон</div>
          </div>
          <div class="order-input">
            <input
              type="email"
              class="form-control phone"
              id="email"
              name="email"
              placeholder="e-mail"
              required
            />
            <div class="invalid-feedback">Введите ваш e-mail</div>
          </div>
          <textarea name="description" id="description"  class="description" placeholder="Краткое описание желаемого" cols="30" rows="10"></textarea>
          <div class="order-input-file">
            <div id="drop-area" class="upload-zone">
                <p>Перетащите файл сюда</p>
              </div>
              <label for="fileElem" class="form-upload__label">
                <span>Или выберите файл:</span>
                <input type="file" id="fileElem" name="file" style="display:none" />
              </label>
          </div>
          <button type="submit" class="button">Отправить заказ</button>
        </form>
   

      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="main-container footer-container">
      <div class="contacts wow animate__zoomIn">
        <a href="tel:+74993431334" class="phone">8 983 139-06-03</a>
        <a class="email" href="mailto:katod1978&#64;yandex.ru"
          >katod1978&#64;yandex.ru</a
        >
      </div>
      <a href="#title" class="logo wow animate__rollIn">
        <img src="images/logoa.png" alt="logo" />
      </a>
      <div class="rights wow animate__zoomIn">Все права зашишены</div>
    </div>
  </footer>
</section>
