.order-main {
  background-image: url(../static/images/bg_order.png);
  background-size: cover;

  .order {
    background: transparent;

    .order-container {
      .order-content {
        display: flex;

        .order-form {
          .order-input {
            margin-bottom: 34px;

            .form-control {
              width: 360px;
              height: 60px;
              border: 1px solid var(--fbf5b6);
              outline: none;
              box-sizing: border-box;
              border-radius: 20px;
              .flex-center-center();
              font-size: 18px;
              padding: 0 24px;
              background-color: var(--04151C);
              font-family: var(--font-family);
              margin-bottom: 12px;
              color: var(--fbf5b6);


              &::placeholder {
                color: var(--fbf5b6op08);
                background-color: var(--04151C);
                font-size: 18px;
              }
            }

            .invalid-feedback {
              display: none;
              margin-left: 10px;
            }
          }

          .description {
            background-color: var(--04151C);
            font-family: var(--font-family);
            font-size: 18px;
            width: 420px;
            height: 180px;
            border: 1px solid var(--fbf5b6);
            padding: 12px 24px;
            box-sizing: border-box;
            border-radius: 20px;
            margin-bottom: 24px;

            &::placeholder {
              color: var(--fbf5b6op08);
              background-color: var(--04151C);
              font-size: 18px;
            }
          }

          .order-input-file {
            .upload-zone {
              border: 2px dashed var(--fbf5b6);
              border-radius: 8px;
              padding: 12px 24px;

              margin-bottom: 24px;
              background-color: var(--04151C);
              box-sizing: border-box;
              height: 180px;
            }

            .upload-zone.dragover {
              border-color: var(--fbf5b6);
              background-color: var(--04151C);
            }

            #file-list {
              margin-top: 10px;
              font-size: 0.95em;
            }

            #fileSelectBtn {
              display: none;
            }
          }

          .button {
            width: 284px;
          }

        }

        .slider {


        }
      }
    }
  }
}


.swiper {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 33%;
  top: 4%;
}

.swiper-slide img {
  width: 100%;
}





